* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
q {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.navbar {
  height: 8vh;
  z-index: 3;
}

.nav-links {
  width: 100%;
}

.navbar .navigation-link {
  color: #000 !important;
  letter-spacing: 1.5px;
  transition: all 0.3s ease-in-out;
}
.navbar .navigation-link:hover {
  color: #f3be4c !important;
  text-decoration: none;
  font-weight: 600;
}

iframe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 4rem;
}

.titles {
  color: #f3be4c;
}

.btn-hero {
  width: 41px;
  height: 115px !important;
}

.scoreboard {
  margin: 0 !important;
  overflow: hidden !important;
}

/* Buttons */

.buttons {
  background-color: #f3be4c;
}

/* Play and board */

.play-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 92vh;
}

.board-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.board {
  height: 350px;
  position: relative;
  padding: 0 !important;
  overflow: hidden !important;
  background-color: rgb(55, 148, 117) !important;
}

.cards {
  width: 200px;
  height: 120px;
  position: absolute;
  background-image: url("./images/backcard.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(90deg);
}

.card-down_1 {
  top: 0;
  left: -20px;
}
.card-down_2 {
  top: 0;
  right: -20px;
}

.played-cards {
  width: 100px;
  height: 80px;
  position: absolute;
  top: -100px;
}

.played-cards img {
  width: 100%;
  transform: rotate(90deg);
}

.played-card_1 {
  left: 100px;
}
.played-card_2 {
  right: 100px;
}

/* War sign */

/* war active */
.war-sign {
  width: 120px;
  position: absolute;
  top: 12%;
  left: 41%;
  animation: big 1s infinite alternate;
  border-radius: 5%;
}
/* Rules */

.rules-card {
  width: 40px;
  height: 50px;
  transform: rotate(25deg);
}

/* Contact */

.main-section {
  min-height: 92vh;
  max-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.contact-icons a i {
  font-size: 4rem;
  transition: all 0.3s ease-in-out;
  color: #f3be4c;
}

.contact-icons a i:hover {
  transform: scale(1.1);
  color: #fff;
}

hr {
  border-color: #fff !important;
}

.git-project span {
  font-size: 1.5rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.git-project i {
  font-size: 1.8rem;
  color: #f3be4c;
}
.git-project:hover i {
  font-size: 1.8rem;
  color: #fff;
  transform: scale(1.1);
}
.git-project:hover span {
  font-size: 1.8rem;
  color: #f3be4c;
  transform: scale(1.1);
}

/* tablet view */
@media (max-width: 1000px) {
  .navbar .navigation-link {
    color: #000 !important;
    letter-spacing: 1.5px;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .war-sign {
    width: 120px;
    position: absolute;
    top: 15%;
    left: 36%;
    animation: big 1s infinite alternate;
  }
  .played-cards img {
    width: 100%;
    transform: rotate(0);
  }
  .played-card_1 {
    left: 10%;
  }
  .played-card_2 {
    right: 10%;
  }
}

@media (max-width: 700px) {
  .war-sign {
    width: 120px;
    position: absolute;
    top: 20%;
    left: 38%;
    animation: big 1s infinite alternate;
  }
}
