* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: absolute;
  top: 0;
  bottom: 0;
}

.navbar {
  width: 100%;
}

iframe {
  width: 100%;
}

.jumbo {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.scoreboard {
  margin: 0 !important;
  overflow: hidden !important;
}

.board {
  height: 500px;
  position: relative;
  padding: 0 !important;
  overflow: hidden !important;
}

.cards {
  width: 200px;
  height: 120px;
  position: absolute;
  background-image: url("./images/backcard.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(90deg);
}

.card-down_1 {
  bottom: 20px;
  left: 0;
}
.card-down_2 {
  top: 20px;
  right: 0;
}

.play-area {
}

.played-cards {
  width: 100px;
  height: 80px;
  position: absolute;
  top: 35%;
}

.played-cards img {
  width: 100%;
  transform: rotate(90deg);
}

.played-card_1 {
  left: 25%;
}
.played-card_2 {
  right: 25%;
}

/* War sign */

.war-sign {
  width: 100px;
  position: absolute;
  top: 80px;
  left: 100px;
}

/* tablet view */
@media (max-width: 900px) {
  .played-cards img {
    width: 100%;
    transform: rotate(0);
  }
  .played-card_1 {
    left: 5%;
  }
  .played-card_2 {
    right: 5%;
  }
}
